.sectionOne{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0 0 10rem 0 ;
    background-color: #F6F8FA;
}
.HmoInstructionsContainer{
    text-align: center;
    margin-bottom:3rem;
}
.HmoTitle{
    font-size:3rem;
    color: rgb(24, 99, 176);

}
.HmoSubtitle{
    width:50%;
    margin:auto;
}
.stepContainer{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:80%;
    margin:auto;
}
.stepSubContainer{
    padding:0;
    margin:0;
    cursor:pointer;
    
}
.stepIconContainer{
    width: fit-content;
    height:fit-content;
    border-radius:20% 20% 20% 0;
    flex-shrink:0;
    padding:1.5rem;    
    box-shadow: 0 0px 25px rgba(36, 36, 36, 0.2);
    margin:2rem auto auto auto;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #ffffff 0%, rgb(157, 208, 255) 40%, rgba(24, 99, 176) 60%);
    background-repeat: no-repeat;
    background-size:300px ;
    background-position: 0px;
    transition: all 0.2s ease-in-out;
}
.stepIconContainer:hover{
    background-position:-100px;
}
.stepIconContainer:hover .stepIcon{
    color:white;
    
}
.stepIconContainer:hover .stepNumber{
    color:rgba(24, 99, 176);
    background-color: white;
    
}
.stepNumber{
    position:absolute;
    top:-15px;
    right:-15px;
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    padding: 1rem;
    flex-shrink:0;
    background-color: #1863B0;
    font-size: 1rem;
    color:White;
    box-shadow: 0 0px 15px rgba(36, 36, 36, 0.3);

}
.stepIcon{
    font-size:3.5rem;
    color:#1863B0;
}
.stepText{
    text-align:center;
    width:60%;
    margin: 1rem auto 0 auto ;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.stepTitle{
    margin-bottom:.5rem;
}
.stepSubtitle{
    width:15rem;
}
.stepCircleContainer{
    display:flex;
    flex-direction: row;
    height:100%;
    margin-bottom:4rem;
}
.stepCircle{
    width:8px;
    height:8px;
    border-radius:5px;
    margin:.5rem;
    flex-shrink: 0;
    background-color: rgb(128, 128, 128, .3);
}
/* Section Two */
.sectionTwo{
    background-color: white;
    text-align:center;
    padding: 5rem 0;
}
.hmoTitle{
    font-size:3rem;
    margin-bottom:5rem;
}
.hmoContainer{
    display:grid;
    margin:auto;
    justify-content: center ;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 50px 100px ;
    padding: 0 10rem;
}
.hmoItem{
    display:flex;
    min-height:200px;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    padding:1rem;
    box-shadow: 0 0px 25px rgba(36, 36, 36, 0.1);
    cursor:pointer;
    transition: all 0.2s ease-in;
}
.hmoItem:hover{
    transform:scale(1.05);
    /* outline:1px solid rgb(24, 99, 176); */
}