.customPagination{
    display:flex;
    align-items: center;
    gap: 8px;
    margin-top:1rem;
    width:70%;
}
.customPagination :global(.swiper-pagination-bullet){
    width:15px;
    height:15px;
    background-color: transparent;
    border: 3px solid white;
}
.customPagination :global(.swiper-pagination-bullet-active){
    background-color: white;
    padding:0;
    margin:0;
    outline: none;
    outline-offset: 0;
}